@{
    ViewData["Title"] = "Proibido";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Você está tentanto acessar um recurso de acesso proibido.</p>
</header>
