@{
    ViewData["Title"] = "Erro interno do servidor";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Não foi possível atender sua solicitação.</p>
</header>
