@{
    ViewData["Title"] = "Ocorreu um erro!";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Ocorreu um erro, tente novamente ou contate um administrador.</p>
</header>

@{
    if (ViewData["MensagemErro"] != null)
    {
        <br />
        <h5 class="text-danger">@ViewData["MensagemErro"]</h5>
    }
}
